controller:
  adminUser: admin
  adminPassword: admin123

  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"

persistence:
  enabled: true
  size: 8Gi

serviceType: NodePort

